.title-icon{
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.50;
    letter-spacing: 3.5px;
    text-align: center;
    margin-left: -10%;
    color: firebrick;
}

.list-group-item:hover{
    opacity: 0.8;
    cursor:pointer;
}

.search-bar{
    margin: 20px;
}

.search-bar input{
    width: 60.7%;
}

.details{
    margin-top: 10px;
    border: 1px solid grey;
    padding: 10px;
}

.details-title{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.5;
}